.logo {
    /* position: absolute; */
    /* top: 0; */
    /* left: 5rem; */
    font-family: var(--font-logo);
    font-size: 3rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    /* border: 1px solid green; */
    line-height: 3rem;
    /* height: 5rem; */
    /* width: 15rem; */
    /* color: white; */
    color: var(--color-accent);
    transition: all 150ms ease-in-out;
    cursor: pointer;
}
@media (min-width: 64rem) {
    .logo {
        font-size: 5rem;
        line-height: 4rem;
    }
}
.logo:hover {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    /* transform: scale(1.02); */
    /* color: goldenrod; */
    /* box-shadow: var(--box-shadow); */
}

/* .footer-logo {
    font-size: var(--fs-sm);
} */