:root {
    /* --box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px; */
    /* --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    /* --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --button-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --button-shadow-white: rgba(255, 255, 255, 0.3) 0px 1px 4px;
    --button-shadow-hover: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --card-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --card-shadow-full: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --br-sm: 640px;
    --br-md: 768px;
    --br-lg: 1024px;
    --br-xl: 1280px;
    --br-2xl: 1536px;

    /* --color-blue-flag: #0032A0;
    --color-blue-flag-lite: rgba(0, 50, 160, 0.8);
    --color-default: rgb(17, 24, 39);
    --color-font: rgba(0, 0, 0, 0.7);
    --color-slate-900: rgb(15, 23, 42);
    --color-white: #FFFFFF; */

    --color-red-flag-lite: rgba(191, 13, 62, 0.9);
    --color-red-flag: rgba(191, 13, 62);

    --color-black: #000000;
    --color-grey-dark-01: #1B1D1D;
    --color-grey-dark-02: #2F3132;
    --color-grey-dark-03: #333333;
    --color-grey-dark-03-rgb: rgba(51, 51, 51, 0.75);
    --color-grey-dark-03-rgb-dark: rgba(51, 51, 51, 1);
    --color-grey-dark-03-rgb-lite: rgba(51, 51, 51, 0.5);
    --color-grey-dark-03-rgb-xlite: rgba(51, 51, 51, 0.3);
    --color-grey-lite-01: #969696;
    --color-white: #FFFFFF;
    /* --color-accent: #D4AD61; */
    --color-accent: #EFBF04;
    --color-bg-header: rgba(0, 0, 0, 0.7);
    --color-bg-btn: rgba(239, 191, 4, 0.75);
    --color-bg-btn-hover: rgba(239, 191, 4, 1);
    --color-border: rgba(51, 51, 51, 0.5);
    --color-border-lite: rgba(51, 51, 51, 0.1);
    --color-border-lite-extra: rgba(51, 51, 51, 0.05);
    --color-bg-item-hover: (0, 0, 0, 0.6);

    --color-font: #1B1D1D;

    /* --font-sans: "Plus Jakarta Sans", sans-serif; */
    --font-logo: 'Corinthia', cursive;
    --font-default: 'Noto Sans', sans-serif;
    /* --font-inter: "Inter", sans-serif; */
    /* --font-sans: "Open Sans", sans-serif; */
    /* --font-serif: 'Lora', 'Times New Roman', serif; */
    /* --font-serif: 'Noto Serif', serif; */
    --font-serif: 'Noto Serif Display', serif;

    --fs-xxs: 0.65rem;
    --fs-xs: 0.75rem;
    --fs-sm: 0.875rem;
    --fs-md: 1rem;
    --fs-lg: 1.125rem;
    --fs-xl: 1.5rem;
    --fs-2xl: 2rem;
    --fs-3xl: 3rem;
    --fs-4xl: 4rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--color-font);
    font-family: var(--font-default);
    font-size: 16px;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--color-font);
}

button {
    cursor: pointer;
}

main {
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
@media (min-width: 64rem) {
    main {
        gap: 8rem;
    }
}

.hidden {
    display: none !important;
}
.wrapper {
    width: 85%;
    /* max-width: 80rem; */
    margin: 0 auto;
}
.page {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* border: 1px solid red; */
    padding: 4rem 0;
}
.accent {
    /* color: goldenrod; */
    color: var(--color-accent);
}
